# Visual Studio에서 생성한 .clang 형식 파일입니다.

# 이 파일의 스타일 옵션은 도구 > 옵션에서
# 현재 IDE 서식 구성을 복제하려는 최선의 시도입니다. 그러나 다음
# 스타일 옵션을 확인해야 합니다:
# SpacesInParentheses

AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
BasedOnStyle: LLVM
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
BreakBeforeBraces: Custom
ColumnLimit: 0
Cpp11BracedListStyle: false
FixNamespaceComments: false
IndentCaseLabels: true
IndentPPDirectives: None
IndentWidth: 4
MaxEmptyLinesToKeep: 10
NamespaceIndentation: All
PointerAlignment: Left
SortIncludes: false
SortUsingDeclarations: false
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: true    # TODO: 확인
SpacesInSquareBrackets: false
TabWidth: 4
UseTab: true
